.base {
  flex: 0 0 auto;
  width: 20vw;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 0 !important;
}

.list li > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.horizontalScroll {
  overflow-x: initial;
}
.horizontalScroll li > div {
  overflow-x: initial;
  overflow: initial;
}


.list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1em;
}

.item {
  display: block;
  /* border: 1px solid green; */
}

.item div {
  cursor: pointer;
  padding: 0.85em;
  /* line-height: 3em; */
  box-sizing: border-box;
}

.item div[aria-selected] {
  color: HighlightText;
  background-color: Highlight;
}

.item > div > img {
  /* TODO: inline svg styles */
  height: 1em;
  padding-right: 0.5em;
}

.item div[aria-disabled] {
  cursor: not-allowed;
  /* color: Field; */
  /* text-shadow: 1px 1px 0 GrayText; */
  
  color: GrayText;
  /* text-shadow: 1px 1px 0 Field; */
  /* background-color: Highlight; */
}
