.sliderGroup {
  font-size: 2.5vh;
  display: inline-block;
  transform: rotate(90deg);
  aspect-ratio: 1;
  width: 19.5em;
}

.sliderGroup input {
  align-self: center;
  margin: -0.75em 0;
  border: solid 1.5em transparent;
  padding: 0;
  width: 16em;
  height: 2.25em;
  background: repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 0.4375em border-box, repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 4.1875em border-box, linear-gradient(90deg, rgba(195, 183, 183, 0), #c3b7b7, rgba(195, 183, 183, 0)) no-repeat 50% 50% border-box;
  background-size: 12.0625em 0.625em, 12.0625em 0.625em, 100% 2.25em;
  font-size: 1em;
  cursor: pointer;
}
.sliderGroup input, .sliderGroup input::-webkit-slider-runnable-track, .sliderGroup input::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.sliderGroup input::-webkit-slider-runnable-track {
  position: relative;
  width: 16em;
  height: 0.5em;
  border-radius: .1875em;
  background: rgba(202, 191, 191, 0.825);
}
.sliderGroup input::-webkit-slider-thumb {
  margin-top: -0.75em;
  border: none;
  width: 4em;
  height: 2em;
  border-radius: .5em;
  box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
  background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, rgba(0, 0, 0, 0) 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, rgba(0, 0, 0, 0) 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
  background-size: 0.825em 100%;
}
.sliderGroup input:focus {
  outline: none;
}
.sliderGroup input:focus::-webkit-slider-runnable-track {
  background: #898586;
}
