:root {
  --text: #0f0f0f;
  --background: #f6f6f6;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 24px; */
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f9f6ff;
    --background: #222;
  }

  html {
    /* Needed for "safari" linux */
    color-scheme: dark;
  }
}

body, html {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  overflow: hidden;
}

body.touchDrag [data-accept] {
  overflow: hidden;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

/* 
input, select, textarea {
  color: var(--text);
  background-color: var(--background);
} */

input,
button {
  outline: none;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/************************************************************/

.contentContainer {
  flex: 1 1 auto;
  /* Can be auto to allow scroll, but also allow child to scroll */
  overflow: auto;
  display: flex;

  &.vertical{
    flex-direction: column;
  }
}

.itemContainer {
  flex: 0 0 auto;
  overflow: auto;

  list-style: none;
  padding: 0;
  margin: 0;

  &.horizontal {
    white-space: nowrap;
    /* scrollbar-width: none; */

    & > li {
      display: inline-block;
    }
  }

  & > li {
    /* For list item background */
    /* display: inline-block; */
    display: grid;
  }
}

.inbetweenContainer {
  /* flex: 0 0 auto; */
  flex: 0 1 auto;

  overflow: auto;
  display: flex;

  &.vertical{
    flex-direction: column;
  }  
}

.stubbornContainer {
  flex: 0 1 auto;

  overflow: auto;
  display: flex;

  &.vertical{
    flex-direction: column;
  }  

}

.inbetweenChild {
  flex: 1 0 auto;
}

.list {
  width: 15em;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  & ul {
    padding: 0;
  }
  & li {
    padding-left: 2em;
  }

  & .flat {
    padding: 0;
    & > ul > li {
      padding-left: 0;
    }
  }
}

button:not(:disabled) {
  cursor: pointer;
}


button:disabled img {
  opacity: 0.5;
}
